*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#footer{
    /* height:488px; */
    width:100%;
    /* border:1px solid green; */
    padding: 20px;
    box-sizing: border-box;
    background-color:rgb(238,238,228);
}

#footer1{
    height:auto;
    width:100%;
    /* border:1px solid red; */
    margin:auto;
    display:flex;
    box-sizing: border-box;
    font-family: Sans-Serif;
    padding-left:5px
   

}
#box11{
    height:80%;
    width:70%;
    /* border:5px solid blue; */
    display:grid;
    grid-template-columns:repeat(5,195px);
    grid-template-rows:repeat(50px);
    line-height: 30px;
}
#box2{
    height:80%;
    width:30%;
    /* border:1px solid green; */
}
#box11 > div{
    /* border:1px solid teal; */
    margin-right: 20px;
}
#logo-part{
    margin:auto;
    height:50px;
    width:70%;
    /* border:1px solid red; */
    margin-top:80px;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows:40px 40px;
    gap:5px;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    margin-left:20px;
}
/* #logo-part>div{
    border: 1px solid teal;
    
} */
#logo-part >div >img{
    height:100%;
    width:100%;
}
#logo-part >div:last-child{
    width: 50%;
    height: 50%;
}
#logo-part1{
    display:flex;
    height:60px;
    width:70%;
    /* border:1px solid green; */
    margin-left:20px;
    gap:10px;
    margin-top:10px;
}
#logo-part1>img{
        height:50%;
        width:10%;
        

}
.heading{
    color:#333;;
    font-size: 14px;
    font-weight:bold;
   
}
/* div > h4{
    color:#393939;
    font-size:16px;
} */
.c2{
   
    color:#393939;
    font-size:14px;

}
.c2:hover{
    cursor:pointer;
    text-decoration: underline solid black 2px;
   

}
.heading:hover{
    cursor:pointer;
    text-decoration: underline solid black 2px;

}
#b1{
height:30px;
width:20%;
/* border:1px solid green; */
display:flex;
margin-top: 10px;
gap:6px;
}
#b1 > img{
height:100%;
width:100%;

}
#b2{
margin-top:1px;
color:#393939;
}
#b2:hover{
 cursor:pointer;
 text-decoration: underline solid black 2px;
}


.d1{
cursor:pointer;

/* border: 1px solid black; */
}
#d2:hover{
cursor:pointer;
 text-decoration: underline solid black 2px;
}
#f1{
    width:100%;
        display:flex;
/* height:100px; */
    /* border:1px solid red; */
margin-left:10px;
    margin-top: 20px;
    gap:40px;
    justify-content:space-evenly;
    align-items:center;
    box-sizing: border-box;
    color:#393939;
}
#f2{
height:40%;
width:15%;
/* border:1px solid teal; */
display:flex;
justify-content:center;
align-items:center;

}
#f2 > img{
height:100%;
width:5%;
}
#f3{
margin-left:15px;
}
#f6{
height:100%;
width:8%;
/* border:1px solid black; */
margin-left:250px;
border-radius:10px;
cursor:pointer;
}
#f6 > img{
height:100%;
width:100%;
border-top-right-radius:10px;
border-top-left-radius:10px;
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
}
.hover:hover{
cursor:pointer;
text-decoration: underline solid black 2px;
}